.imageContainer {
  max-width: 1000px;
  border-radius: 10px;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  position: relative;
  overflow: hidden;
  background-color: var(--offWhiteBackground); /* Greyed out background color */
  display:none;
}

.mobileImageContainer {
  height: 60vh;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 12px 30px 0px;
  overflow: hidden;
}

.mobileImage {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.placeholder {
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width:95vw;
  height: 100%;
  display: block;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 12px 30px 0px;
  transition: opacity 0.5s; /* Smooth transition */
}

@media (min-width: 800px) { 
  .imageContainer{
    display:block;
  }

  .mobileImageContainer{
    display:none;
  }
  
}