.container, .homeContainer {
  height:50px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  position:fixed;
  top:0;
  z-index:999;
  transition: none;
}

.homeContainer{
  background-color: transparent;
  height:auto;
  box-shadow: none;
  position: relative;
}

.innerContainer, .homeInnerContainer {
  height:100%;
  width:var(--mainColumn);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.homeInnerContainer{
  width:var(--homeColumn);
}

.logo, .title{
  text-transform: uppercase;
  font-size:1.5em;
  color:var(--light);
  text-decoration: none;
  transition:200ms;
}

.logo:hover, .title:hover{
  color:var(--red)
}

.titleContainer{
  color: var(--light)
}

.title{
  font-size:3em;
  margin-bottom:20px;
  display:block;
}

.subtitle{
  font-size:1.5em;
}

.circle {
  width: 18px;
  height: 18px;
  background-color: var(--light);
  border-radius: 50%;
  transition: all 0.1s ease;
}

.circle:hover {
  transform: scale(1.3); /* Enlarges the circle by 10% on hover */
  background-color:var(--red);
}

.menuText {
  margin-right: 20px; /* Space between the text and the circle */
  color:var(--red);
  font-size:1.2em;
}

.hamburger{
  display:flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.sidebar{
  position:fixed;
  Top:0;
  Right:0;
  height:100vh;
  background-color: var(--pink);
  width:90vw;
  opacity:.95;
}

@media (min-width: 800px) {
  .sidebar{
    
    width:400px;
  }
}

.sidebarLinks{
  width:100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.sidebarLinkContainer{
  overflow:hidden;
  margin-bottom:3em;
}

.sidebarLink{
  color:var(--red);
  text-align: center;
  font-size:2em;
  cursor:pointer;
}

.sidebarLink:hover{
  opacity:.66
}

.cross{
  position:absolute;
  top:0;
  left:0;
  cursor:pointer;
}

.underline{
  height:3px;
  background-color:var(--red);
  margin-top:.5em;
  margin-left:25%;
}

.underlineInactive{
  height:3px;
  width:100%;
  background-color:transparent;
  margin:auto;
  margin-top:.5em;
}

.innerIconContainer{
  height:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-left:1em;
}

.innerIconContainer svg{
  cursor:pointer;
  height: 23px;
  width: 23px;
  transition:200ms;
}

.innerIconContainer svg:hover .icon {
  fill: #F9350B;
}

.iconContainer{
  display:flex;
  flex-direction: row;
  width:100px;
  justify-content: space-between;
  height:100%;
}

.copyright{
  width:100%;
  text-align:center;
  position:fixed;
  bottom: 0;
  left:0;
  opacity:.4;
  font-size: .9em;
  margin-bottom:.45em;
}
