.container{
  width:100%;
  max-width:var(--maxTextWidth);
  margin:auto;
  height:200px;

  display:flex;
  flex-direction: row;
  align-items: center;
}

.innerContainerLeft, .innerContainerRight{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
  height:100%;
}

.innerContainerRight{
  border-left: 2px solid var(--dark)
}

.goodByeText{
  padding:25px;
}

.nextStoryContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition:200ms;
  cursor: pointer;
  margin-top:15px;
  color:inherit;
  text-decoration: none;
}

.nextStoryContainer:hover{
  color:var(--red);
  opacity:.8;
}

.nextUp{
  width:100%;
}

.nextImageContainer{
  width:75%;
}

.nextTitle{
}

.nextImage{
  max-height: 90%;
  max-width: 90%;
  border-radius: 5px;
  margin:auto;
  margin-top:5px;
  margin-bottom:5px;
}

.line {
  width: 100%;
  max-width: var(--maxTextWidth);
  height: 2px;
  background-color: var(--dark);
  position: relative;
  margin:auto;
  margin-top:50px;
}

.line::after {
  content: ""; /* Empty content for the pseudo-element */
  width: 12.5px;
  height: 12.5px;
  background-color: var(--dark);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the circle */
  z-index: 1; /* Optional, to ensure the circle appears above the line */
}