.title, .darkTitle{
  font-size:3.5em;
  margin:auto;
  width:100%;
  text-align:center;
  margin-top:2em;
  margin-bottom:15px;
}

.titleContainer, .titleInnerContainer{
  overflow:hidden;
}

.darkTitle{
  color:var(--light);
}

.lineContainer, .lineContainerDark{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.5em;
  margin-top: 1.25em;
}

.ball, .ballDark{
  width:20px;
  height:20px;
  background-color: var(--dark);
  position:absolute;
  border-radius: 20px;
}

.line, .lineDark{
  height:5px;
  background: linear-gradient(to right, var(--darkishred), var(--dark), var(--darkishred));
  width:100%;
  margin:auto;
  max-width: 675px;
}

.ballDark, .lineDark{
  background:none;
  background-color: var(--light);
}

@media (min-width: 800px) { 
  .title, .darkTitle {
    font-size:4em;
  }
}
