.outerContainer, .darkOuterContainer{
  height:100%;
  width:100%;
  background:var(--offWhiteBackground);
  position: relative;
  display:block;
  
}

.container, .darkContainer{
  height:100%;
  min-height:100vh;
  background:var(--offWhiteBackground);
  margin:auto;
  color:var(--darkText);
  padding-top:110px;
  padding-bottom:50px;
  position: relative;
  display:block;
  min-height:120vh;
}

.darkOuterContainer, .darkContainer{
  background:var(--dark);
  color:var(--light)
}